// =======================
// Modules/Icons
// =======================

%linkedin, %behance, %youtube, %instagram, %deviantart, %dribble, %tw, %fb, %dog, %people, %arrow, %shape, %iphone, %email, %check, %browser, %cloud, %settings{
  background: url(/img/sprites.png) no-repeat;
}

%linkedin{
  background-position: -105px -35px ;
  width: 35px;
  height: 35px;
}

%behance{
  background-position: -105px 0;
  width: 35px;
  height: 35px;
}

%youtube{
  background-position: -70px -35px ;
  width: 35px;
  height: 35px;
}

%instagram{
  background-position: -70px 0;
  width: 35px;
  height: 35px;
}

%deviantart{
  background-position: -35px -35px ;
  width: 35px;
  height: 35px;
}

%dribble{
  background-position: 0 -35px ;
  width: 35px;
  height: 35px;
}

%tw{
  background-position: -35px 0;
  width: 35px;
  height: 35px;
}

%fb{
  background-position: 0 0;
  width: 35px;
  height: 35px;
}

%dog{
  background-position: -203px -25px ;
  width: 14px;
  height: 15px;
}

%people{
  background-position: -184px -50px ;
  width: 10px;
  height: 17px;
}

%arrow{
  background-position: -228px -87px ;
  width: 77px;
  height: 54px;
}

%shape{
  background-position: -354px -6px ;
  width: 138px;
  height: 138px;
}

%iphone{
  background-position: -223px 0;
  width: 65px;
  height: 79px;
}

%email{
  background-position: -140px 0;
  width: 54px;
  height: 38px;
}

%check{
  background-position: -295px -1px ;
  width: 52px;
  height: 39px;
}

%browser{
  background-position: -54px -70px ;
  width: 168px;
  height: 47px;
}

%cloud{
  background-position: -151px -50px ;
  width: 18px;
  height: 14px;
}

%settings{
  background-position: 0 -70px ;
  width: 54px;
  height: 54px;
}


