.footer
    .section
        .footer-copy &copy; Copyright 2015. Allright Reserved
        ul.footer__icons
          each icon in ['fb', 'tw', 'youtube', 'dribble', 'behance', 'deviantart', 'instagram', 'linkedin']
              li.footer__icons-item
                a(href="#" class=icon)