.nav
    .nav-logo
        a(href="#")
            img(src="/img/logo.png")
    ul.nav__list
        each item in ['ГЛАВНАЯ', 'ЧТО ЭТО ТАКОЕ?', 'ЧТО МЫ ДЕЛАЕМ?', 'НАШИ ПРИЕМУЩЕСТВА', 'ЗАГРУЗКА PSD']
            li.nav__list-item
                a(href="#").nav__list-link
                    span=item

