.nav
    .nav-logo
        a(href="#")
            img(src="/img/logo.png")
    ul.nav__list
        li.nav__list-item
            a(href="#" id="header").nav__list-link
                span ГЛАВНАЯ
        li.nav__list-item
            a(href="#" id="about").nav__list-link
                span ЧТО ЭТО ТАКОЕ?
        li.nav__list-item
            a(href="#" id="services").nav__list-link
                span ЧТО МЫ ДЕЛАЕМ?
        li.nav__list-item
            a(href="#" id="advantages").nav__list-link
                span НАШИ ПРИЕМУЩЕСТВА
        li.nav__list-item
            a(href="#" id="feedback").nav__list-link
                span ЗАГРУЗКА PSD

