// =======================
// Tools/Variables
// =======================

/* Font variables */

$main-font: Arial, sans-serif;

/* Color variables */

$nav-color: #f37f66;
$services-color: #00aeef;

$color-link: #fff;