// =======================
// Layout/About
// =======================

.about {
  @extend .clearfix;
  margin-bottom: -50px;
}

.about__section {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  &-psd {
    background: url('/img/psd.png');
    width: 543px;
    &:before {
      @extend %arrow;
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      bottom: -77px;
      margin: auto;
      transform: rotate(90deg);
    }
  }
  &-html {
    background: url('/img/html.png');
    width: 439px;
  }
  &-html, &-psd {
    margin: auto;
    height: 283px;
    margin-bottom: 20px;
  }
  &-text {
    text-align: center;
  }
}

.about__section-text {
  font-size: 24px;
  font-family: 'solomon_sans_bookregular', Arial, serif;
}

@media only screen and (min-width: 1200px) {
  .about {
    margin-bottom: 77px;
  }
  .about__section {
    width: 50%;
    float: left;
    margin-bottom: 0;
    &-psd{
      &:before {
        top:0;
        right: -100%;
        bottom: 0;
        margin: auto;
        transform: none;
      }
    }
  }
}