// =======================
// Layout/Navigation
// =======================

.nav {
  @extend .clearfix;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $nav-color;
  font-size: 18px;
  text-align: center;
  font-family: 'code_pro_boldregular', Arial, serif;
}

.nav__list {
  padding: 0;
  &-item span {
    transition: all .3s ease-in-out;
  }
}

.nav__list-link.active span {
  padding-bottom: 1px;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 767px) {
  .showmenu {
    display: block;
    height: 30px;
    width: 30px;
    position: fixed;
    right: 20px;
    top: 20px;
    background: #fff;
    border-radius: 5px;
    z-index: 9999;
    &-line {
      display: block;
      height: 4px;
      width: 24px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 1px;
      background: $nav-color;
      box-shadow: 0px -8.88888889px 0px 0px $nav-color,
      0px 8.88888889px 0px 0px $nav-color;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .nav {
    left: 100%;
    &__list-item {
      margin-bottom: 3px;
      &:hover span, .nav__list-link.active span {
        padding-bottom: 1px;
        border-bottom: 2px solid white;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    font-size: 12px;
  }

  .nav__list {
    float: none;
    margin: auto;
    &-item {
      text-align: center;
      display: inline-block;
      width: calc(20% - 5px);
      span {
        &:hover {
          padding-bottom: 3px;
          border-bottom: 2px solid white;
        }
      }

    }
    &-link {
      display: inline-block;
      line-height: 50px;
    }
  }
}


@media only screen and (min-width: 1200px) {
    .nav {
    font-size: 18px;
    display: block;
    &-logo {
      display: block;
      float: left;
      margin: 26px 0 11px 6.25%;
    }
  }

  .nav__list {
    width: auto;
    float: right;
    margin-right: 104px;
    &-item {
      display: inline-block;
      margin-left: 36px;
      &:hover span {
        padding-bottom: 5px;
        border-bottom: 3px solid white;
      }
    }
    &-link {
      display: inline-block;
      line-height: 106px;
    }
  }
}


@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .nav__list {
    margin-right: 15px;
  }
}
