// =======================
// Base/Base
// =======================

html, body, .wrapper, .container {
  height: 100%;
}

body {
    font-family: $main-font;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
}

a {
    color: $color-link;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  margin-top: 0;
}

.header {
  height: 100%;
}

.section-name {
  font-family: 'code_proregular';
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  &_white {
    color: white;
  }
  &_black {
    color: black;
  }
}

.section-name {
  padding: 18px 0;
}

@media only screen and (min-width: 768px) {
  .section-name {
    padding: 36px 0;
    font-size: 36px;
  }
}

@media only screen and (min-width: 1200px) {
  .section{
    width:1170px;
    margin: 0 auto;
    padding: 0 15px;
    &-name {
      padding: 51px 0;
      font-size: 54px;
    }
  }
}